# API Configuration
API_URL=http://pagerduty-lite-dev-alb-1402458952.us-east-1.elb.amazonaws.com/api

# AWS Cognito
COGNITO_USER_POOL_ID=us-east-1_qWv6JSIYH
COGNITO_CLIENT_ID=2qhak49h1modnjh1h35n2balpd
AWS_REGION=us-east-1

# Database Endpoint: pagerduty-lite-dev.cn9wuodq8uyb.us-east-1.rds.amazonaws.com

# ECR Repositories:
# - API: 593971626975.dkr.ecr.us-east-1.amazonaws.com/pagerduty-lite-dev-api
# - Worker: 593971626975.dkr.ecr.us-east-1.amazonaws.com/pagerduty-lite-dev-notification-worker